@font-face {
    font-family: "Open Sans";
    src: url(./font/OpenSans/OpenSans-Light.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #89182a;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6vh;
    
    width: 10rem;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;    
}

.login__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login__form input[type="text"] {
    padding: 0.15rem 0.5rem;
}

.login__form input[type="text"]:focus {
    outline: none;
    border: 0;
}

.login__form button {
    width: 50%;

    margin-top: 2vh;
    padding: 0.125rem 0.0625rem;

    background: #fff;
}

.enter {
    margin-top: 3vh;
    font-size: 0.875rem;
    font-family: "Open Sans";
}

.enter:hover {
    text-decoration: underline;
}

.enter a {
    color: #fff;
    text-decoration: none;
}
